version: "3.9"
services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    volumes:
      - ./backend/weights:/app/backend/weights
    ports:
      - "8000:8000"
    environment:
      - MODEL_PATH=/app/backend/weights/best.pt
  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    ports:
      - "3000:3000"
    depends_on:
      - api
